{% extends 'poker/base.html' %}

{% block content %}

<style>
    .win { color: green; }
    .loss { color: red; }
</style>

<h2>Session Detail for Session #{{ session.id }}</h2>
<p><b>Player:</b> {{ session.player }}</p>
<p><b>Casino:</b> {{ session.casino }}</p>
<p><b>Stakes:</b> {{ session.get_stakes_display }}</p>
<p><b>Date:</b> {{ session.date }}</p>
<p><b>Buy In:</b> ${{ session.buy_in}}</p>
<p><b>Cash Out:</b> ${{ session.cash_out}}</p>
<p><b>Hours:</b> {{ session.hours}}</p>
{% if hands %}
<p>Tracked Hands: <a href="{% url 'hands:session_hands_list' session.id %}">Hands for session #{{ session.id }}</a></p>
{% else %}
<p><b>Tracked Hands:</b> No hands tracked for this session.</p>
{% endif %}
<p><b>Add Hand:</b> <a href="{% url 'hands:add_hand' session.id %}" class="btn btn-success m-4">Add Hand</a></p>
  <hr>
  <h2>Results</h2>

<h3>
{% if session.win_loss > 0 %}
<span class="win">Winning Session</span>
{% elif session.win_loss < 0 %}
<span class="loss">Losing Session</span>
{% else %}
Break-even Session
{% endif %}
</h3>
<p>
                {% if session.win_loss > 0 %}
                    <span class="win">+${{ session.win_loss }}</span>
                {% elif session.win_loss < 0 %}
                    <span class="loss">${{ session.win_loss }}</span>
                {% else %}
                    ${{ session.win_loss }}
                {% endif %}
                
                <p><b>Hourly Rate:</b> ${{ session.win_rate_per_hour|floatformat:-2 }} </p>

<p><b>Edit:</b><a href="{% url 'poker:edit_session' session.id %}" class="btn btn-primary m-4">Edit Session</a></p>


{% endblock content %}