{% extends 'expenses/base.html' %}

{% block content %}
  <h2>Fixed Expenses - ${{ total_amount }}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Due Date</th>
        <th>Autopay?</th>
        <th>Paid?</th>
      </tr>
    </thead>
    <tbody>
      {% for fixed_expense in fixed_expenses|dictsort:"day_to_pay" %}
        <tr>
          <td>
            <a href="{% url 'expenses:fixed_expense_detail' pk=fixed_expense.pk %}">
              {{ fixed_expense.name }}
            </a>
          </td>
          <td>${{ fixed_expense.amount }}</td>
          <td>{{ fixed_expense.day_to_pay }}</td>
          {% if fixed_expense.autopay %}
            <td class="text-success">Yes</td>
          {% else %}
            <td class="text-danger">No</td>
            {% endif %}
            {% if fixed_expense.is_paid == "Yes" %}
            <td class="text-success">Yes</td>
          {% else %}
            <td class="text-danger">No</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'expenses:fixed_expense_create' %}" class="btn btn-primary">Create a new fixed expense</a>
  <p style="m-6"> </p>
{% endblock content %}
